---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroLayout from '../layouts/HeroLayout.astro';
import Button from '../components/Button.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>

   <HeroLayout 
      title="About Us"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut dolor" 
   />
   <section class="why-choose-us">
		<div class="overlay"></div>
		<div class="content">
			<h2>Our Mission and Values</h2>
			<div class="reasons">
				<div class="reason">
					<h4>Provide Quality Service</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua
					</p>
				</div>
				<div class="reason">
					<h4>Transparency</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua.
					</p>
				</div>
			</div>
		</div>
	</section>

   <section class="legal-support">
      <div class="overlay"></div>
      <div class="content">
         <h2>Collaborate With a Team That Puts You First</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Phasellus fermentum, libero nec posuere vehicula, nulla nisl faucibus est, at egestas neque lorem sed lacus. Integer convallis, nisl sit amet facilisis accumsan, eros justo dictum urna, nec rhoncus eros nulla in arcu.</p>
         <Button className="black" />
      </div>
   </section>

   <Footer />
</BaseLayout>


