---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroLayout from '../layouts/HeroLayout.astro';
import AboutLayout from '../layouts/AboutLayout.astro';
import Button from '../components/Button.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>

   <HeroLayout />

   <AboutLayout />

   <section>
      <div>
      <h2>Our Mission and Values</h2>
      <h4>Provide Quality Service</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo natus, adipisci expedita cum nihil quidem. 
      Illum voluptate eveniet culpa, perspiciatis ipsa eius accusantium similique animi, commodi, iste distinctio non enim.</p>
      <h4>Transparency</h4>
      <p>Lorem psum dolor, sit amet consectetur adipisicing elit. Illo natus, adipisci expedita cum nihil quidem. 
      Illum voluptate eveniet culpa, perspiciatis ipsa eius accusantium similique animi, commodi, iste distinctio non enim.</p>
      </div>
   </section>

   <section>
      <div>
      <h2>Collaborate With a team that puts You first </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius harum dolores assumenda temporibus, cupiditate,
      iusto nihil nesciunt nobis repudiandae animi dolorum quas illum iure velit eum dolor officiis officia pariatur?</p>

      <Button />
      </div>
   </section>

   <Footer />
</BaseLayout>


