---
import BaseLayout from "../layouts/BaseLayout.astro"
import HeroLayout from '../layouts/HeroLayout.astro';
import ArticleCard from "../components/ArticleCard.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
   <HeroLayout />
   <section>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            A sapiente vero nam, repellendus quasi veniam, at laborum consequuntur voluptatum, blanditiis modi voluptatem.
            Eveniet nulla minima possimus velit optio, repellat dolor modi nostrum excepturi.
            A, ipsa. Accusamus repellendus eum blanditiis deserunt necessitatibus, reprehenderit ducimus voluptate ab ullam natus tempore minima cum delectus nemo atque.
            Consequuntur expedita non iure dolorum quibusdam mollitia a ab similique earum ea quod, eveniet voluptates? Eligendi necessitatibus rerum unde ex iste asperiores! Facilis, in fugit obcaecati,
            praesentium veritatis earum quia eligendi placeat soluta animi vitae tempore ipsum odio asperiores totam, laborum a nesciunt laboriosam debitis enim saepe?</p>
   </section>
   <section>
      <div>
         <img src="" alt="">
         <span>Sam Mujuda</span>
         <span>Lorem ipsum dolor sit amet consectetur.</span>
      </div>
      <div>
         <img src="" alt="">
         <span>Sam Mujuda</span>
         <span>Lorem ipsum dolor sit amet consectetur.</span>
      </div>
   </section>
   <section>
      <h2>Services</h2>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
   </section>
   <section>
      <ArticleCard />
      <ArticleCard />
      <ArticleCard />
      <ArticleCard />
   </section>

   <Footer />
</BaseLayout>
