---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import WhiteSection from "../layouts/WhiteSection.astro";
---

<BaseLayout>
   <div class="article-navbar-container">
      <NavBar />
   </div>
   <WhiteSection minHeight="165vh">
      <div class="article-content">
         <h1>Protecting Your Ideas: A Beginner’s Guide to Intellectual Property Rights</h1>
         <div class="article-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nibh non egestas feugiat, ipsum justo fermentum leo, a finibus tortor lacus in neque. Nulla facilisi. Duis ac enim a turpis porttitor convallis. Integer blandit, justo a gravida convallis, arcu magna facilisis nulla, ac eleifend velit metus sed velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ipsam dolores libero fuga at aspernatur suscipit quas earum, pariatur alias cupiditate, ad doloremque voluptate reprehenderit numquam non eum maxime necessitatibus. Vero possimus suscipit perferendis sapiente magni distinctio, tempora unde asperiores commodi quasi quibusdam iste, nisi quaerat mollitia ipsum, quas expedita!</p>
            <p>Praesent id libero sed erat fermentum lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin convallis, augue at congue iaculis, arcu justo facilisis lectus, nec euismod magna nisl eget risus. Nam sit amet urna vel leo blandit porta vitae sed sem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum tempora officiis numquam consequuntur dicta quod doloribus maxime excepturi. Minima quisquam ea repellendus corporis, eveniet, enim reiciendis ratione sed harum maxime voluptas nemo nihil laudantium corrupti, recusandae alias quo quam nobis? Officia numquam nostrum consectetur. Doloribus animi incidunt sunt commodi tempora!</p>
            <p>Ut vel viverra odio. Suspendisse at magna nec orci laoreet luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam eget massa nec nulla fermentum dignissim. Integer nec lorem nec orci convallis eleifend at ac nisl. Curabitur ac feugiat velit, vitae porta odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolor autem maxime, laudantium cum aspernatur tenetur beatae error laboriosam. Maiores suscipit a maxime esse beatae, repellat sed eius illum eveniet dolor possimus impedit nemo? Numquam quam, accusantium, laborum nobis inventore voluptatum eveniet culpa temporibus officiis iure alias, distinctio consequatur! Quo.</p>
            <p>Sed blandit justo at eros ullamcorper, eget convallis risus tempus. Pellentesque eu sem ac nibh hendrerit convallis. Aliquam erat volutpat. Integer finibus, leo id feugiat accumsan, tortor risus pharetra neque, vitae suscipit justo purus non purus. Suspendisse potenti. Sed sit amet feugiat magna.</p>
         </div>
         <span class="author"> Muyetwa Kasonde, April 2025 </span>
      </div>
   </WhiteSection>
   <Footer />
</BaseLayout>

<style>
   .article-navbar-container {
      max-width: 45.703125em;
      margin: 0 auto;
      position: relative;
      z-index: 1;
   }

   .article-navbar-container :global(header nav a) {
      @apply text-[var(--primary-gold)];
   }

   .article-content {
      max-width: 50.25em;
      margin: 0 auto;
   }

   .article-text p {
      text-align: left;
   }

   .author {
      display: block;
      text-align: right;
      font-style: italic;
      color: #888;
      margin-top: 3em;
   }

</style>
