---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroLayout from '../layouts/HeroLayout.astro';
import AboutLayout from '../layouts/AboutLayout.astro';
import PracticeArea from '../components/PracticeArea.astro';
import CardsLayout from '../layouts/CardsLayout.astro';
import Button from '../components/Button.astro';
import ArticleCard from '../components/ArticleCard.astro'
import Footer from '../components/Footer.astro';
---

<BaseLayout>
   <HeroLayout />

   <AboutLayout />

   <section class="value-proposition">
      <div class="proposition-container">
      <h1>Why Choose Us</h1>
      <h4>Lorem Heading</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo natus, adipisci expedita cum nihil quidem. 
      Illum voluptate eveniet culpa, perspiciatis ipsa eius accusantium similique animi, commodi, iste distinctio non enim.</p>
      <h4>Some Heading</h4>
      <p>Lorem psum dolor, sit amet consectetur adipisicing elit. Illo natus, adipisci expedita cum nihil quidem. 
      Illum voluptate eveniet culpa, perspiciatis ipsa eius accusantium similique animi, commodi, iste distinctio non enim.</p>
      </div>
   </section>

   <section class="practice-areas">
      <h2>Areas of Practice</h2>
      <div class="areas-container">
         <PracticeArea />
         <PracticeArea />
         <PracticeArea />
         <PracticeArea />
         <PracticeArea />
         <PracticeArea />
      </div>
   </section>

   <section class="our-team-section">
      <h2>Our Team</h2>
      <CardsLayout />
      <Button />
   </section>

   <section class="our-team">
      <h2>Our Insights</h2>
      <ArticleCard />
      <Button />
   </section>

   <section class="call-to-action">
      <h1>Need Legal Support You Can Trust</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Nisi, pariatur! Corrupti aperiam reprehenderit natus ullam fugiat quasi mollitia veritatis exercitationem dignissimos qui accusantium a,
      facere iusto quas quidem sed sequi?</p>
      <span>Schedule your consultation today</span>
      <Button />
   </section>
   <Footer />
</BaseLayout>
