---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroLayout from "../layouts/HeroLayout.astro";
import PracticeArea from "../components/PracticeArea.astro";
import CardsLayout from "../layouts/CardsLayout.astro";
import Button from "../components/Button.astro";
import ArticleCard from "../components/ArticleCard.astro";
import Footer from "../components/Footer.astro";
import GlassEffect from "../components/GlassEffect.astro";
---

<link rel="stylesheet" href="/styles/home.css" />

<BaseLayout>
   <HeroLayout 
   image="/assets/images/HeroImage.jpg"
      title="Benson&Sam Advocates"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa non ab cupiditate id ducimus. Error repellat molestiae exercitationem impedit vel nostrum natus atque ullam incidunt assumenda maxime, neque labore unde."
   />
	<section class="expert-guidance">
      <div class="expert-guidance-layout">
         <div class="img-container">
            <img
               src="/assets/images/AboutUsImage.jpg"
               alt="The Thinker statue"
            />
         </div>
         <GlassEffect
            heading="Expert legal guidance, delivered with integrity and efficiency"
            paragraph="eritatis et quasi architecto beatae vitae dicta sunt explicabo. A well-drafted surrogacy agreement is one of the most important tools for protecting both the intended parents and the surrogate. Acting, or legal representation anywhere."
         />
      </div>
	</section>


	<section class="why-choose-us">
		<div class="overlay"></div>
		<div class="content">
			<h2>Why Choose Us?</h2>
			<div class="reasons">
				<div class="reason">
					<h4>Proven Legal Expertise</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua
					</p>
				</div>
				<div class="reason">
					<h4>Transparent & Strategic</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="areas-of-practice">
		<h2>Areas of Practice</h2>
		<div class="practice-areas-grid">
			<PracticeArea
				image="/assets/images/ContractDrafting.svg"
				title="Contract Drafting"
			/>
			<PracticeArea
				image="/assets/images/Consulting.svg"
				title="Consulting"
			/>
			<PracticeArea
				image="/assets/images/EstatePlanning.svg"
				title="Estate Planning"
			/>
			<PracticeArea
				image="/assets/images/LegalResearch.svg"
				title="Legal Research"
			/>
			<PracticeArea
				image="/assets/images/TrademarkRegistration.svg"
				title="Trademark Registration"
			/>
			<PracticeArea
				image="/assets/images/DebtRecovery.svg"
				title="Debt Recovery"
			/>
		</div>
	</section>

	<section class="our-team">
		<div class="our-team-layout">
			<h2>Our Team</h2>
			<CardsLayout />
			<Button className="gold" style="position: relative; top: 1.5em;" />
		</div>
	</section>

	<section class="our-insights">
		<div class="our-insights-layout">
			<h2>Our Insights</h2>
			<div class="insights-grid">
				<ArticleCard
					image="/assets/images/Insight1.jpg"
					title="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui off"
				/>
				<ArticleCard
					image="/assets/images/Insight2.jpg"
					title="Ut enim ad minim veniam, quis nostrud exercitation ullamco."
				/>
			</div>
			<div style="position: relative; top: 1.5em;">
				<Button className="black" />
			</div>
		</div>
	</section>

	<section class="legal-support">
		<div class="overlay"></div>
		<div class="content">
			<h2>Need Legal Support You Can Trust?</h2>
			<p>
				Whether you're facing a complex legal challenge or simply need
				expert guidance, our experienced attorneys are here to help.
			</p>
			<span>Schedule your consultation today.</span>
			<Button className="gold" text="Contact Us"/>
		</div>
	</section>

	<Footer />
</BaseLayout>
