---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroLayout from '../layouts/HeroLayout.astro';
import WhiteSection from '../layouts/WhiteSection.astro';
import ImageBackgroundSection from '../layouts/ImageBackgroundSection.astro';
import Button from '../components/Button.astro';
import CardsLayout from '../layouts/CardsLayout.astro';
import Footer from '../components/Footer.astro';
import PracticeArea from '../components/PracticeArea.astro';
---

<BaseLayout>

   <HeroLayout 
      image="/assets/images/Gavel.jpg"
      title="Practice Areas"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut dolor " 
   />

   <WhiteSection minHeight="180vh">
      <div class="practice-areas-section">
         <h2>Practice Areas</h2>
         <CardsLayout>
            <PracticeArea image="/assets/images/LegalResearch.svg" title="Legal Research" url="/area" />
            <PracticeArea image="/assets/images/TrademarkRegistration.svg" title="Trademark Registration" url="/area" />
            <PracticeArea image="/assets/images/Consulting.svg" title="Consulting" url="/area" />
            <PracticeArea image="/assets/images/ContractDrafting.svg" title="Contract Drafting" url="/area" />
            <PracticeArea image="/assets/images/EstatePlanning.svg" title="Estate Planning" url="/area" />
            <PracticeArea image="/assets/images/DebtRecovery.svg" title="Debt Recovery" url="/area" />
         </CardsLayout>
      </div>
   </WhiteSection>

   <ImageBackgroundSection image="LadyLaw.jpg">
      <div class="call-to-action">
         <h2>Work with Us</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut dolor </p>
         <Button className="gold" text="Learn More"/>
      </div>
   </ImageBackgroundSection>
   
   <Footer />

<style>
   .practice-areas-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 51em;
      margin: 0 auto;
   }

   .practice-areas-section h2{
      font-size: var(--font-size-h2);
      margin-bottom: 1em;
      color: var(--text-dark);
   }

   .call-to-action {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 50em;
      margin: 0 auto;
   }

   .call-to-action h2 {
      font-size: var(--font-size-h2);
      margin-bottom: 1em;
      color: var(--primary-gold);
   }

   .call-to-action p {
      font-size: 1.125em;
      margin-bottom: 1.5em;
      color: var(--primary-gold);
   }
</style>
</BaseLayout>
