---
interface Props {
  className?: string;
  text?: string;
}

const { className, text = 'Learn More' } = Astro.props;
---

<button type="button" class:list={["btn", className, "hvr-grow"]}>{text}</button>
