---

---

<div>
   <div>
      <img src="" alt="Logo">
   </div>
   <div>
      <span>Address</span>
      <span>Phone number</span>
      <span>Socials</span>
   </div>
   <div>
      <div>
         <a href="">ABOUT US</a>
         <a href="">CONTACT US</a>
         <a href="">PRIVACY POLICY</a>
      </div>
      <div><span>Copyright (c) 2025 Author. All Rights Reserved.</span></div>
   </div>
</div>
