---
---

<div>
   <a href="/">
      <img src="" alt="Logo">
   </a>
   <nav>
      <a href="/about">About Us</a>
      <a href="/practice">Practice Areas</a>
      <a href="/article">Articles</a>
      <a href="/contact">Contact Us</a>
   </nav>
</div>
