---
---

<header>
   <a href="/" class="logo">Benson & Sam</a>
   <nav>
      <a href="/about">About Us</a>
      <a href="/practice">Practice Areas</a>
      <a href="/blogs">Articles</a>
      <a href="/contact">Contact Us</a>
   </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0rem;
        border-bottom: 1px solid rgba(210, 172, 103, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .logo {
        font-family: var(--font-family-headings);
        font-weight: 400;
        font-size: 1.6875em;
        text-decoration: none;
        color: var(--primary-gold);
    }

    nav a {
        font-family: var(--font-family-headings);
        font-weight: 700;
        font-size: 0.9375em;
        color: var(--primary-gold);
        text-decoration: none;
        margin-left: 0.75rem;
    }
</style>
