---
const { bgColor = "transparent"} = Astro.props;
---
<header class:list={bgColor}>
   <a href="/" class="logo">Benson & Sam</a>
   <nav>
      <a href="/about">About Us</a>
      <a href="/practice">Practice Areas</a>
      <a href="/articles">Articles</a>
      <a href="/contact">Contact Us</a>
   </nav>
</header>

<style>
    header {
      display: flex;
      justify-content: center;
      align-items: end;
      gap: 15em;
      padding: 2em 0;
      border-bottom: 1px solid rgba(210, 172, 103, 0.2);
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
    }

    .black {
        background: var(--primary-dark);
    }

    .logo {
        font-family: var(--font-family-headings);
        font-weight: 400;
        font-size: 1.6875em;
        text-decoration: none;
        color: var(--primary-gold);
    }

    header nav a {
        font-family: var(--font-family-headings);
        font-weight: 700;
        font-size: 0.9375em;
        color: var(--primary-gold);
        text-decoration: none;
        margin-left: 0.75em;
    }
</style>
