--- 
interface Props {
	image: string;
	title: string;
	url: string;
}

const { image, title, url } = Astro.props;
---

<a href={url} class="practice-area-link">
	<div class="practice-area-card">
		<img src={image} alt={title} />
		<span>{title}</span>
	</div>
</a>

<style>
	.practice-area-link {
		text-decoration: none;
		color: #000;
	}

	.practice-area-card {
		background-color: #fff;
		border-radius: 0.625em;
		box-shadow: 0em 0.5em 0.375em 0.125em rgba(0, 0, 0, 0.25);
		width: 14.8125em;
		height: 15.1875em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.practice-area-card img {
		width: 6.65625em;
		height: 7.3125em;
	}

	.practice-area-card span {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 1.3125em;
		line-height: 1.17;
		text-align: center;
		color: #000;
		margin-top: 0.75em;
		width: 4.5em;
	}
</style>