---
import GlassEffect from "../components/GlassEffect.astro"
---

<section class="about-container">
   <div class="image-container"></div>
   <GlassEffect>
      <h3></h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab saepe mollitia consectetur voluptas voluptate 
      labore quo totam, ratione, ex repudiandae quos id earum blanditiis ipsum beatae neque ipsa doloribus autem.</p>
   </GlassEffect>
</section>
