<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Benson&Sam Advocates</title>
	   <link rel="stylesheet" href="/styles/global.css" />
	</head>
	<body>
		<slot />
	</body>
</html>
