---
import Card from "../components/Card.astro"
---
<!-- TODO: add conditional logic that defines how many cards and which type of card to render in the container based on a value passed 
in from the section rendering it-->

<div class="cards-container">
   <Card />
   <Card />
   <Card />
</div>
