---
import Card from "../components/Card.astro";
---

<div class="cards-layout">
   <Card name="Sam Mujuda" position="Co-Founder" image="/src/assets/images/site images/TeamMember1.jpg" />
   <Card name="Full Name" position="Position" />
   <Card name="Full Name" position="Position" />
</div>

<style>
    .cards-layout {
        display: flex;
        justify-content: center;
        gap: 48px;
        margin-top: 3rem;
    }
</style>