---
import Card from "../components/Card.astro";
---

<div class="cards-layout">
   <slot />
</div>

<style>
    .cards-layout {
        display: flex;
        justify-content: center;
        gap: 3em;
        margin-top: 3em;
        flex-wrap: wrap;
        max-width: 51em;
    }
</style>