---
import NavBar from '../components/NavBar.astro';
import HeroContent from '../components/HeroContent.astro';
---
<section>
   <div class="hero-container">
      <NavBar />
      <HeroContent />
   </div>
</section>
