---
import '../styles/home.css';
import NavBar from '../components/NavBar.astro';
import HeroContent from '../components/HeroContent.astro';
import Shadow from '../components/Shadow.astro';
---

<section>
   <Shadow />
   <div>
      <NavBar />
      <HeroContent />
   </div>
</section>
